.features__item {
    width: calc((100% - 90px) / 4);
}

.features__title {
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--title-color);
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
}

.features__text {
    line-height: 1.7;
    margin-top: 0;
    margin-bottom: 0;
}

.features__iconbox {
    display: flex;
    width: 270px;
    height: 120px;
    background-color: var(--bg-grey-color);
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.features__icon {
    width: 70px;
    height: 70px;
    justify-content: center;
    align-items: center;
}