.hero {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid black;
    background-color: #C4C4C4;
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/hero-bgi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero__title {
    width: 700px;
    margin-top: 106px;
    margin-bottom: 40px;
    margin-right: auto;
    margin-left: auto;
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}