.social-list {
    display: flex;
    justify-content: center;
    column-gap: 10px;

}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color var(--transition-dur-func);
    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }
}



.social-icon {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
    transition: fill var(--transition-dur-func);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
    fill: var(--primary-white-color);
}