.subscribe-form-footer {
    display: flex;
    flex-direction: column;
}

.subscribe-form-title-footer {
    margin-bottom: 20px;
    padding-top: 10px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    color: var(--primary-white-color);
}

.subscribe-form-input-footer {
    width: 358px;
    padding: 15px 16px;
    margin-right: 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--bg-dark-color);
    font-size: 16px;
    line-height: 20px;
    color: var(--primary-white-color);

}

.subscribe-form-field-footer {
    display: flex;
}

.subscribe-form-submit-wrapper {
    position: relative;
    display: block;
}

.subscribe-form-submit-icon {
    display: block;
    position: absolute;
    top: 50%;
    right: 28px;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    fill: var(--primary-white-color);

}

.subscribe-form-submit {
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 29px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0;
    min-width: 200px;
    border: transparent;
    border-radius: 4px;
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 00.06em;

}